.navbar-expand-lg .navbar-collapse {
    flex-grow: 0;
}

li.home {
    margin-right: 20px !important;
}

.btn-primary {
    color: #6E07F3;
}

.btn-outline-primary {
    --bs-btn-color: #6E07F3;
    --bs-btn-border-color: #6E07F3;
    border-radius: 9999px;
    --bs-btn-hover-bg: var(--bs-btn-border-color);
    font-family: "noto sans display" !important;
    font-weight: 500 !important;

}



a {
    font-family: "Noto Sans Display", sans-serif !important;

    font-size: 18px !important;
}

#second-section {

    background-color: #6E07F3 !important;
    padding-top: 8px !important;
    padding-bottom: 90px !important;
}

p.col-lg-8.mx-auto.lead.pt-2.pb-10 {
    padding-bottom: 80px !important;
}

#third-section {
    background-color: white;
}

.col-my {
    padding: 0px !important;
}

.card-header {
    border-bottom: none !important;
    background-color: white !important;
}

h4 {
    font-family: "Noto Sans Display", sans-serif !important;
    font-weight: 600 !important;
}

.custom-p {
    font-size: 18px !important;
    color: #6E07F3 !important
}

.custom2-p {
    font-size: 18px !important;
    font-weight: 300 !important;
}
.container.position-absolute.top-150.start-50.translate-middle {
    margin-top: 130px !important;
}

/* .third-sectt {
    position: absolute;
    top: 500px;
    left: 90px;
    right: 90px;

} */

@media only screen and (max-width: 600px) {
    .container.position-absolute.top-150.start-50.translate-middle {
        padding: 0px 40px !important;
        
} }


@media only screen and (max-width: 767px) {
.container.position-absolute.top-150.start-50.translate-middle {
    transform: translate(-50%, -15%) !important;
}}


section#Work {
    margin-top: 520px;
    padding-bottom: 80px;
    
}

@media only screen and (max-width: 767px) {

    section#Work {
        margin-top: 1800px!important;
    }}
    

    


  
  .cards {
    position: relative; /* Needed for absolute positioning of .card-body */

}

.card-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #141C3A;
    padding: 15px;
    
    opacity: 0; /* Start hidden */
    pointer-events: none; /* Prevent interaction when not visible */
    display: flex; /* Flexbox for centering */
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    transition: opacity 0.3s ease;
    text-align: center; /* Center text within the content */
}

.card:hover .card-body {
    opacity: 1; /* Make it visible on hover */
    pointer-events: auto; /* Enable interaction when visible */
}

.card-text{
    color: white!important;
    font-family: "Noto Sans Display", sans-serif !important;
font-size: 18px!important;
font-weight: 500!important;}


.card-button{
    font-size: 18px!important;
    color: white!important;
}

.linkedin-button{
    font-size: 18px!important
    ;
}

@media only screen and (max-width: 600px) {
    .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-4 {
    
        padding: 0px 40px !important;}
        
} 
.icon{
    color: white!important
    ;
}
